@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

header,
main {
  max-width: 940px;
  margin: 0 auto;
}

.menu {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.menu .logo {
  margin-right: 120px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

nav a{
  text-decoration: none;
  font-size: 16px;
  color: #111111;
}
nav a:hover{
  border-bottom:1px solid #FBDFDB;
}

.ativo{
  font-weight: 700;
}

.banner {
  background: #FBDFDB;
  border-radius: 30px;
  border-radius: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  padding: 0 60px;
  gap: 180px;
}

.info-banner {
  padding: 60px 0;
}

.banner img {
  padding: 60px 0 0;
}

.titulo-banner {
  font-weight: 700;
  font-size: 32px;
  color: #111111;
}

.banner p {
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

/* MAIN====== */
main {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 24px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  margin-bottom: 30px;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card .titulo-receita {
  font-size: 18px;
  color: #111111;
  margin-bottom: 5px;
}

.card .nome-autor {
  font-size: 14px;
  color: #777777;
}

footer {
  background: #EEEEEE;
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding: 23px 0;
}